{% extends 'account/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% block content %}
<div class="container">
    <div class="row no-gutters">
      <div class="col-md-8 col-lg-7 col-xl-6 offset-md-2 offset-lg-2 offset-xl-3 space-3 space-lg-0">

        <!-- Title -->
        <div class="mb-7">

                        <!-- Title -->
                <div class="mb-7">
                        <h1 class="h3 text-primary font-weight-normal mb-0">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}<span class="font-weight-semi-bold">| Dstudy</span></h1>
                {% if token_fail %}
                    {% url 'account_reset_password' as passwd_reset_url %}
                    <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                    </div>
                {% else %}
                    {% if form %}
                        <form class="js-validate mt-5" method="POST" action="{{ action_url }}">
                            {% csrf_token %}
                            {{ form|crispy}}
                                <!-- Button -->
                                <div class="row align-items-center mb-5">
                                    <div class="col-7 col-sm-6 text-right">
                                            <input type="submit" name="action" class="btn btn-primary transition-3d-hover" value="{% trans 'change password' %}"/>
                                    </div>
                                </div>
                                 <!-- End Button -->
                            
                        </form>
                    {% else %}
                        <!-- Cookie Alert -->
                             <div class="container position-fixed bottom-0 right-0 left-0 z-index-4" id="message" >
                                <div class="alert alert-light w-lg-80 border shadow-sm mx-auto" role="alert">
                                    <h5 class="h6 text-dark font-weight-semi-bold">Notification Received</h5>
                                        <p class="small"><strong>Message : </strong> <span>{% trans 'Your password is now changed.' %}</span></p>
                                </div>
                            </div>
                            </div>
                            </div>
                        <!-- End Cookie Alert -->
                    {% endif %}
                {% endif %}
      </div>
    </div>
{% endblock %}