{% extends 'account/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% block content %}
<div class="container">
    <div class="row no-gutters">
      <div class="col-md-8 col-lg-7 col-xl-6 offset-md-2 offset-lg-2 offset-xl-3 space-3 space-lg-0">

        
        <!-- Form -->
        <form class="js-validate mt-5" method='POST' action="{% url 'account_change_password' %}">{% csrf_token %}
          <!-- Title -->
          <div class="mb-7">
            <h1 class="h3 text-primary font-weight-normal mb-0">Password Change <span class="font-weight-semi-bold">Dstudy</span></h1>
            <p>Fill out the form to get started.</p>
          </div>
          <!-- End Title -->

          {% csrf_token %}
            {{ form|crispy }}

          <!-- Button -->
          <div class="row align-items-center mb-5">
            <div class="col-5 col-sm-6">
              <span class="small text-muted">Make password as possible as complicated</span>
            </div>

            <div class="col-7 col-sm-6 text-right">
              <button type="submit" name="action" class="btn btn-primary transition-3d-hover">Proceed</button>
            </div>
          </div>
          <!-- End Button -->
        </form>
        <!-- End Form -->
      </div>
    </div>
  </div>
</div>
{% endblock %}