{% extends 'account/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% block content %}
<div class="container">
    <div class="row no-gutters">
      <div class="col-md-8 col-lg-7 col-xl-6 offset-md-2 offset-lg-2 offset-xl-3 space-3 space-lg-0">
        
        <!-- Form -->
        <form class="js-validate mt-5" method='POST' action="{% url 'account_reset_password' %}">{% csrf_token %}
          <!-- Title -->
          <div class="mb-7">
            <h1 class="h3 text-primary font-weight-normal mb-0">Email Sent by <span class="font-weight-semi-bold">Dstudy</span></h1>
            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            <p style="border:solid">We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.</p>
          </div>
          <!-- End Title -->
          {% csrf_token %}
             {{ form|crispy }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
         
          <!-- Button -->
          <div class="row align-items-center mb-5">
            <div class="col-5 col-sm-6">
              <span class="small text-muted">Please contact us if you have any trouble resetting your password.</span>
              <a class="small" href="{{ signup_url }}">Signup</a>
            </div>
          </div>
          <!-- End Button -->
        </form>
      
        <!-- End Form -->
      </div>
      
      </div>
    </div>
    </div>
{% endblock %}