{% extends 'account/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% block content %}
<div class="container">
    <div class="row no-gutters">
      <div class="col-md-8 col-lg-7 col-xl-6 offset-md-2 offset-lg-2 offset-xl-3 space-3 space-lg-0">
        <!-- Form -->
        <form class="js-validate mt-5" method='POST' id="signup_form" action="{% url 'account_signup' %}">{% csrf_token %}
          <!-- Title -->
          <div class="mb-7">
            <h1 class="h3 text-primary font-weight-normal mb-0">Welcome to <span class="font-weight-semi-bold">Dstudy</span></h1>
            <p>Fill out the form to get started.</p>
          </div>
          <!-- End Title -->

          {{ form|crispy }}

          <div class="js-form-message mb-5">
            <div class="custom-control custom-checkbox d-flex align-items-center text-muted">
              <input type="checkbox" class="custom-control-input" id="termsCheckbox" name="termsCheckbox" required
                     data-msg="Please accept our Terms and Conditions."
                     data-error-class="u-has-error"
                     data-success-class="u-has-success">
              <label class="custom-control-label" for="termsCheckbox">
                <small>
                  I agree to the
                  <a class="link-muted" href="#">Terms and Conditions</a>
                </small>
              </label>
            </div>
          </div>
          <!-- End Checkbox -->

          <!-- Button -->
          <div class="row align-items-center mb-5">
            <div class="col-5 col-sm-6">
              <span class="small text-muted">Already have an account?</span>
              <a class="small" href="{{ login_url }}">Sign In</a>
            </div>

            <div class="col-7 col-sm-6 text-right">
              <button type="submit" class="btn btn-primary transition-3d-hover">Sign Up</button>
            </div>
          </div>
          <!-- Login Buttons -->
          <div class="d-flex">
            {% get_providers as socialaccount_providers %}
            {% for provider in socialaccount_providers %}
            {% if provider.id == "openid" %}
            {% for brand in provider.get_brands %}
                    <p></p>   
                    <a title="{{brand.name}}" class="btn btn-block btn-sm btn-soft-{{provider.name}} transition-3d-hover mr-1" href="{% provider_login_url provider.id openid=brand.openid_url process=process %}">
                      <span class="fab fa-{{provider.name}}-square mr-1"></span>
                      {{provider.name}}
                    </a>
                 
            {% endfor %}
            {% endif %}
            <p></p> 
              <a title="{{brand.name}}" class="btn btn-block btn-sm btn-soft-{{provider.name}} transition-3d-hover mr-1" href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
                <span class="fab fa-{{provider.name}}-square mr-1"></span>
                {{provider.name}}
              </a>
            {% endfor %}
            </div>
        <!-- End Login Buttons -->
          <!-- End Button -->
        </form>
        <!-- End Form -->
      </div>
    </div>
  </div>
{% endblock %}